<h2>What is Action Wallet?</h2>
<p>Action Wallet is a hierarchical deterministic wallet (HD) for cryptocurrency. Basically, it's a place to store your public and private keys, and associated addresses, so that you can send and receive various cryptocurrencies. You can <%= link_to 'create an user account', signup_path %> and then add accounts for each of your crypto coins</p>

<h2>What is Cryptocurrency?</h2>
<p>A cryptocurrency is a digital or virtual currency that uses cryptography for security. A cryptocurrency is difficult to counterfeit because of this security feature. Many cryptocurrencies are decentralized systems based on blockchain technology, a distributed ledger enforced by a disparate network of computers. You can learn more information <%= link_to 'here', articles_path %> or to view a live <%= link_to 'coin network', articles_path %>.</p>
