<% if current_user %>
<div class="link-box">
<%= link_to "New Account", new_user_account_path(current_user) %>
</div>
<div class="sign-in-box">
<h3>Accounts</h3>
<h4> <span class="label">Total Wallet Ballance</span> <%= @wallet_ballance %></h4>

<ul>
<% current_user.accounts.each do |account| %>
  <li>
    <%= link_to account.name, user_account_path(current_user, account) %>
    <ul>
      <li><strong>Total: <%= account.total %></strong></li>
    </ul>
  </li>
<% end %>
</ul>
</div>
<% end %>
