<% if current_user %>
<h2>Generate Your Random Seed</h2>
<%= link_to "New Account", new_user_account_path(current_user) %>
<h3>Accounts</h3>
<ul>
<% current_user.accounts.each do |account| %>
  <li>
    <%= link_to account.name, user_account_path(current_user, account) %>
    <ul>
      <li><strong>Total: <%= account.total %></strong></li>
    </ul>
  </li>
<% end %>
</ul>
<% end %>
