:root {
  --gold: #989000;
  --green: #1a702a;
  --green1: #309042;
  --green-shadow: #024004;
  --gray: #b0b0b0;
  --light-gray: #f8f8f8;
  --blue: #0020c0;
  --title: #d0d0d0;
  --title-link: #d0d0d0;
  --link: #000000;
}

html {
  font-size: 10px;
  font-family: 'Titillium Web', sans-serif;
}

body {
  margin: 0;
  min-height: 100%;
  background: linear-gradient(135deg, white, rgba(255,0,0,0) 70%),
  linear-gradient(240deg, #9f9c67, rgba(0,255,0,0) 70%),
  linear-gradient(10deg, #dfdc47, rgba(0,0,255,0) 40%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 1.8rem;
}

main {
  padding: 1.5em;
}

.big-logo-box {
  position: fixed;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.big-logo {
  position: relative;
  top: 15em;
  left: 3em;
  width: 90%;
  height: 100vh;
  background-image: url("actionwallet_lightgold2.png");
  background-repeat: no-repeat;
  background-size: contain;
}

header {
  background-image: linear-gradient(160deg, var(--green), var(--green1));
  font-family: 'Raleway', sans-serif;
}

header a {
  text-decoration: none;
}

h1,h2 {
  margin: 0;
}

.alert {
  color: #f00000;
}

.header-image {
  height: 3.0em;
  padding-left: 0.5em;
}

.title-box {
  display: flex;
  align-items: center;
  padding: 1.5em;
}

.title-box a {
  color: var(--title-link);
}

.title-box h1 {
  display: inline-block;
  font-size: 4.0em;
  text-shadow: 1px 1px var(--green-shadow);
}

.title-box h1 a {
  color: var(--title);
  text-decoration: none;
}

.title-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.hello {
  color: #303030;
}

.nav-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5em;
  border-top: 3px solid var(--gold);
  border-bottom: 3px solid var(--gold);
  font-size: 1.3em;
}

.nav-box a {
  color: var(--title-link);
}

.nav-box .pipe {
  color: var(--gold);
}

.learn-box {
  display: inline-block;
  border: 1px solid var(--gray);
  padding: 1em;
  border-radius: 5px;
  background-color: var(--light-gray);
}

.learn-box a {
  color: var(--link);
}

.sign-in-wrapper {
  display: inline-block;
}

.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in-box {
  display: inline-block;
  border: 1px solid var(--gray);
  padding: 1em;
  border-radius: 5px;
  background-color: var(--light-gray);
}

.sign-in-form form {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0.5em;
}

.sign-in-form form * {
  margin: 0.3em;
}

.sign-in-form form input[type=submit] {
  grid-column: 2 / 3;
}

.signup-box {
  display: inline-block;
  font-size: 0.85em;
}

.signup-box a {
  text-decoration: underline;
  color: var(--blue);
}

.addresses {
  list-style: none;
}

.address {
  display: inline-block;
  padding: 1.0em;
  margin: 0.5em;
  background-color: #f8f8f8;
  border: 1px solid #808080;
  border-radius: 3px;
}

.address .label {
  color: #585858;
  margin-right: 1em;
}

.address .details {
  width: 100%;
  border: 1px solid #808080;
}


table {
  margin: 25px 0px 25px 70px;
  width: 50%;
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
}

td {
  border-left: solid 10px #000;
  padding: 0;
  margin: 0;
  height: 10px;
}


td.black { border-color: #000; }
td.white { border-color: #fff; }



.qrcode {
  width:100px;
}
